<div class="course-lessons-container">
  <!-- En-tête du cours -->
  <mat-card class="course-header">
    <div class="header-content">
      <div class="course-info">
        <h1>{{ lessons?.title || "Chargement..." }}</h1>
        <span>
          <mat-icon>person</mat-icon>
          {{ users?.user?.name || "Chargement..." }}
        </span>
        <span>
          <mat-icon>school</mat-icon>
          {{ users?.user?.role || "Chargement..." }}
        </span>
        <span>
          <mat-icon>email</mat-icon>
          {{ users?.user?.email || "Chargement..." }}
        </span>
      </div>
      <div class="progress-container" *ngIf="users?.user?.role === 'apprenant'">
        <div class="progress-info">
          <span>Progression globale</span>
          <span>{{ progress }}%</span>
        </div>
        <mat-progress-bar
          mode="determinate"
          [value]="progress"
          color="accent"
        ></mat-progress-bar>
      </div>
    </div>
  </mat-card>

  <!-- Bouton retour -->
  <a [routerLink]="['../']" class="btn-retour" title="RETOUR">
    <img src="../../../../assets/left-long-solid.svg" alt="Retour" width="30" />
  </a>

  <!-- Liste des leçons -->
  <mat-card class="lessons-card">
    <div class="row g-0">
      <!-- g-0 supprime les gutters -->
      <div class="col-md-4">
        <mat-card-header>
          <mat-card-title>Leçons du cours</mat-card-title>
          <mat-card-subtitle
            >Suivez les leçons dans l'ordre recommandé</mat-card-subtitle
          >
        </mat-card-header>
      </div>
      <div
        class="col-md-8 pe-3 text-md-end"
        *ngIf="users.user?.role != 'apprenant'"
      >
        <button class="btn btn-primary" (click)="redirect_formateur()">
          <i class="fas fa-plus me-2"></i> NOUVEAU LECONS
        </button>
      </div>
      <div class="col-md-8 pe-3 text-md-end">
        <!-- <button class="btn btn-secondary">MON </button> -->
      </div>
    </div>

    <mat-card-content>
      <mat-list *ngIf="users.user?.role == 'apprenant'">
        <ng-container *ngFor="let lesson of lessons.lessons; let i = index">
          <mat-list-item
            class="lesson-item"
            [class.current]="isCurrentLesson(lesson.id)"
            [class.completed]="lesson.completed"
            [class.locked]="!isLessonUnlocked(lesson.id)"
          >
            <div matListItemIcon class="lesson-icon">
              <mat-icon
                [class.preview]="lesson.isPreview"
                [class.completed]="lesson.completed"
              >
                {{ getLessonIcon(lesson.title) }}
              </mat-icon>
            </div>

            <div matListItemTitle class="lesson-title">
              <span
                role="button"
                tabindex="0"
                (click)="startLesson(lesson)"
                (keydown.enter)="redirect(lesson.id)"
              >
                {{ lesson.title }}
              </span>
              <span
                *ngIf="!isLessonUnlocked(lesson.id)"
                class="badge badge-locked"
              >
                Verrouillé
              </span>
              <span
                *ngIf="isLessonUnlocked(lesson.id)"
                class="badge badge-success"
              >
                Dévérrouillé
              </span>
              <div class="lesson-meta" *ngIf="!loading">
                <span class="lesson-duration">
                  <mat-icon inline>schedule</mat-icon>
                  {{ lesson.duration_minutes }} min
                </span>

                <div
                  class="lesson-checkbox"
                  *ngIf="isLessonUnlocked(lesson.id)"
                >
                  <input
                    type="checkbox"
                    [checked]="progressCompleted.includes(lesson.id)"
                    [disabled]="
                      !isLessonUnlocked(lesson.id) ||
                      progressCompleted.includes(lesson.id)
                    "
                    (click)="toggleProgress(lesson.id)"
                  />
                  <span (click)="showConfirmation = true">
                    {{
                      progressCompleted.includes(lesson.id)
                        ? "Terminé"
                        : "Marquer comme terminé"
                    }}
                  </span>
                </div>

                <span
                  *ngIf="loadingLessonId === lesson.id"
                  class="spinner-border spinner-border-sm text-primary"
                  role="status"
                ></span>
              </div>
            </div>
          </mat-list-item>
        </ng-container>

        <!-- <button class="btn-delete" (click)="showConfirmation = true">Supprimer</button> -->

        <!-- Popup de confirmation -->
        <!-- <div class="confirmation-popup" *ngIf="showConfirmation">
          <div class="popup-content">
            <h3>Confirmer l'action</h3>
            <p>Êtes-vous sûr de vouloir effectuer cette action ?</p>
            <div class="popup-actions">
              <button class="btn-cancel" (click)="showConfirmation = false">
                Annuler
              </button>
              <button class="btn-confirm" (click)="confirmAction()">
                Confirmer
              </button>
            </div>
          </div>
        </div> -->

        <ng-container
          *ngIf="(users?.courses_progress?.[0]?.progress_percent || 0) > 80 && lessons.quizzes && isLessonUnlocked(lessons.quizzes.id)"
        >
          <mat-list-item
            class="lesson-item"
            [class.current]="isCurrentLesson(lessons.quizzes.id)"
            (click)="startLesson(lessons.quizzes)"
          >
            <div matListItemIcon class="lesson-icon">
              <mat-icon>
                {{ getLessonIcon(lessons.quizzes.title) }}
              </mat-icon>
            </div>

            <div matListItemTitle class="lesson-title">
              <span
                role="button"
                tabindex="0"
                (click)="redirect_quizz()"
                (keydown.enter)="redirect(lessons.quizzes.id)"
              >
                {{ lessons.quizzes.title }}
              </span>
              <mat-card-content>
                <p>{{ lessons.quizzes.description }}</p>
                <p>
                  <strong>Date :</strong>
                  {{ lessons.quizzes.created_at | date : "medium" }}
                </p>
              </mat-card-content>
            </div>
          </mat-list-item>
        </ng-container>
      </mat-list>
      <mat-list *ngIf="users.user?.role != 'apprenant'">
        <ng-container *ngFor="let lesson of lessons.lessons; let i = index">
          <mat-list-item
            class="lesson-item"
            [class.current]="isCurrentLesson(lesson.id)"
          >
            <div matListItemIcon class="lesson-icon">
              <mat-icon [class.preview]="lesson.isPreview">
                {{ getLessonIcon(lesson.title) }}
              </mat-icon>
            </div>

            <div matListItemTitle class="lesson-title">
              <span
                role="button"
                tabindex="0"
                (click)="startLesson(lesson)"
                (keydown.enter)="redirect(lesson.id)"
              >
                {{ lesson.title }}
              </span>
              <div class="lesson-meta" *ngIf="!loading">
                <span class="lesson-duration">
                  <mat-icon inline>schedule</mat-icon>
                  {{ lesson.duration_minutes }} min
                </span>
                <button
                  mat-icon-button
                  (click)="redirect_edit_lesson(lesson.id)"
                  matTooltip="Modifier cette leçon"
                >
                  <mat-icon style="color: blue">edit</mat-icon>
                </button>
              </div>
              <!-- <div class="col-md-4" *ngIf="users.user?.role != 'apprenant'">
                <button
                  mat-icon-button
                  (click)="redirect_edit_lesson(lesson.id)"
                  matTooltip="Modifier cette leçon"
                >
                  <mat-icon style="color: blue">edit</mat-icon>
                </button>
              </div> -->
            </div>
          </mat-list-item>
        </ng-container>
        <!-- Popup de confirmation -->
        <div class="confirmation-popup" *ngIf="showConfirmation">
          <div class="popup-content">
            <h3>Confirmer l'action</h3>
            <p>Êtes-vous sûr de vouloir effectuer cette action ?</p>
            <div class="popup-actions">
              <button class="btn-cancel" (click)="showConfirmation = false">
                Annuler
              </button>
              <button class="btn-confirm" (click)="confirmAction()">
                Confirmer
              </button>
            </div>
          </div>
        </div>

        <ng-container
          *ngIf="lessons.quizzes && isLessonUnlocked(lessons.quizzes.id)"
        >
          <mat-list-item
            class="lesson-item"
            [class.current]="isCurrentLesson(lessons.quizzes.id)"
            (click)="startLesson(lessons.quizzes)"
          >
            <div matListItemIcon class="lesson-icon">
              <mat-icon>
                {{ getLessonIcon(lessons.quizzes.title) }}
              </mat-icon>
            </div>

            <div matListItemTitle class="lesson-title">
              <span
                role="button"
                tabindex="0"
                (click)="redirect_quizz()"
                (keydown.enter)="redirect(lessons.quizzes.id)"
              >
                {{ lessons.quizzes.title }}
              </span>
              <mat-card-content>
                <p>{{ lessons.quizzes.description }}</p>
                <p>
                  <strong>Date :</strong>
                  {{ lessons.quizzes.created_at | date : "medium" }}
                </p>
              </mat-card-content>
            </div>
          </mat-list-item>
        </ng-container>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
