<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-section">
        <h3>À Propos de Nous</h3>
        <p>
          Bideew Academy est votre partenaire de confiance en éducation en
          cybersécurité. Nous proposons des parcours d'apprentissage complets et
          des ressources pour vous aider à maîtriser la cybersécurité.
        </p>
      </div>

      <div class="footer-section">
        <h3>Liens Rapides</h3>
        <ul>
          <li><a routerLink="home">Accueil</a></li>
          <li><a routerLink="courses">Cours</a></li>
          <li><a routerLink="learning-path" *ngIf="users.user?.role == 'apprenant'">Parcours d'Apprentissage</a></li>
        </ul>
      </div>

      <div class="footer-section">
        <h3>Contactez-nous</h3>
        <ul>
          <li>
            <a href="mailto:contact&#64;bideew-tech.com"
              >contact&#64;bideew-tech.com</a
            >
          </li>

          <li><a href="#">+221 77 905 72 91</a></li>
          <li>
            <a href="https://www.facebook.com/share/179qpd1XLM/?mibextid=wwXIfr"
              >Facebook : Bideew Technologie</a
            >
          </li>
        </ul>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="footer-bottom-content">
        <p>&copy; {{ currentYear }} Cyber Academy. Tous droits réservés.</p>
        <div class="footer-links">
          <a href="#">Politique de Confidentialité</a>
          <a href="#">Conditions d'Utilisation</a>
        </div>
      </div>
    </div>
  </div>
</footer>
