<div class="pdf-container">
  <div class="title-bar">
    <a [routerLink]="['../../']" class="btn-btn-info" title="RETOUR">
      <img src="../../../../assets/left-long-solid.svg" alt="" width="30" />
    </a>
    <h2>{{ lessons.title }}</h2>
    <div class="controls">
      <button (click)="downloadPDF()">Télécharger</button>
    </div>
  </div>

  <div *ngIf="pdf; else loading">
    <pdf-viewer [src]="pdf"></pdf-viewer>
  </div>
  <ng-template #loading>
    <p>Chargement du PDF en cours...</p>
  </ng-template>
</div>